<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Reset password</h3>
        <form [formGroup]="userForm"
              (ngSubmit)="onSubmit()">
            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="resetPasswordEmail">Email</mat-label>
                <input matInput
                       type="email"
                       name="email"
                       formControlName="email"
                       id="resetPasswordEmail"
                       placeholder="Enter Email">
                <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('email')">
                    Email is not valide
                </mat-error>
            </mat-form-field>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="userForm.invalid">Reset Password <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</div>
