<mat-toolbar>
    <button mat-fab
            color="primary"
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngIf="!logged"
                [routerLink]="['register']">
            <mat-icon color="primary">how_to_reg</mat-icon>
            <span>Register</span>
        </button>
        <button mat-menu-item
                *ngIf="!logged"
                [routerLink]="['login']">
            <mat-icon color="accent">login</mat-icon>
            <span>Connection</span>
        </button>
        <button mat-menu-item
                [routerLink]="['reset-password']">
            <mat-icon color="primary">password</mat-icon>
            <span>Reset password</span>
        </button>
        <button mat-menu-item
                *ngIf="logged"
                (click)="logout()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Deconnection</span>
        </button>
    </mat-menu>

    <span routerLink="/"
          class="m-lg-2">CONSIGNE</span>

    <button mat-stroked-button
            *ngIf="logged"
            class="m-lg-2"
            routerLinkActive="active"
            routerLink="/user">
        <span>Utilisateur</span>
    </button>
    <button mat-stroked-button
            *ngIf="logged"
            routerLinkActive="active"
            routerLink="/map">
        <span>Carte teste</span>
    </button>

    <span class="spacer"></span>
</mat-toolbar>
