<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Register New User</h3>
        <form [formGroup]="userForm"
              (ngSubmit)="onSubmit()">

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="registerUsername">Username</mat-label>
                <input matInput
                       type="text"
                       name="username"
                       formControlName="username"
                       id="registerUsername"
                       placeholder="Enter username">
                <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('required')">
                    Username is required
                </mat-error>
                <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('minlength')">
                    Username should be 3 characters min
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="registerEmail">Email</mat-label>
                <input matInput
                       type="email"
                       name="email"
                       formControlName="email"
                       id="registerEmail"
                       placeholder="Enter Email">
                <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('email')">
                    Email is not valide
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="registerPassword">Password</mat-label>
                <input matInput
                       type="password"
                       name="password"
                       formControlName="password"
                       id="registerPassword">
                <mat-error *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                    Password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="passwordRepeat">Password confirmation</mat-label>
                <input matInput
                       type="password"
                       name="passwordRepeat"
                       formControlName="passwordRepeat"
                       id="password_repeat">
                <mat-error *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('required')">
                    Password confirmation is required
                </mat-error>
                <mat-error *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('mustMatch')">
                    Passwords must match
                </mat-error>
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="userForm.invalid">Register
            </button>
        </form>
    </div>
</div>
