<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form [formGroup]="userForm"
              (ngSubmit)="onSubmit()">

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="registerIdentifier">Identifier</mat-label>
                <input matInput
                       name="identifier"
                       formControlName="identifier"
                       id="registerIdentifier"
                       placeholder="Enter identifier">
                <mat-error *ngIf="identifierCtrl.touched && identifierCtrl.hasError('required')">
                    Identifier is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="registerPassword">Password</mat-label>
                <input matInput
                       type="password"
                       name="password"
                       formControlName="password"
                       id="registerPassword">
                <mat-error *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                    Username is required
                </mat-error>
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="userForm.invalid">Login
            </button>
        </form>
    </div>
</div>
