form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mat-form-field {
    width: 100%;
}
.create-carac {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.create-carac>.mat-form-field {
    flex: 1 0 30%; /* explanation below */
    margin: 5px;
}
