<div class="container">
    <div class="row">
        <div class="col-md-12 pt-2">
            <h3>Add user</h3>
            <form [formGroup]="addUserForm"
                  (ngSubmit)="onSubmit()">

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="userName">Username</mat-label>
                    <input matInput
                           formControlName="username"
                           id="userName"
                           placeholder="Enter his username">
                    <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('minlength')">
                        Name should be 3 characters min
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="userEmail">Email</mat-label>
                    <input matInput
                           formControlName="email"
                           id="userEmail"
                           placeholder="Enter his email">
                    <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                        Family is required
                    </mat-error>
                    <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('minlength')">
                        Family should be 3 characters min
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="registerPassword">Password</mat-label>
                    <input matInput
                           type="password"
                           name="password"
                           formControlName="password"
                           id="registerPassword">
                    <mat-error *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                        Username is required
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="addUserForm.invalid"
                        i18n="UserAdd.button.submit">Add
                </button>
            </form>
        </div>
    </div>
</div>

